* {
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    * {
        max-width: 100%; display: block;
    }
    img {
        max-width: 100%;
    }
    .logo {
        width: 8%;
    }
    .phone-nav div {
        background-color: white;
    }
    .index-news {
        float: none;
    }
    #radio_buttons {
        display: inline;
    }
}

@media screen and (min-width: 960px) {
    .logo {
        width: 8%;
    }
    phone-nav {
        display: none;
    }
    phone-nav div {
        display: none
    }
}

* {
    overflow: auto;
    color: white;
}


.logo-div {
    text-align: center;
}

.logo {
    width: 200px;
}

.background-img {
    background-image: url('images/header-img.png');
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    max-width: 100%;
    margin: auto;
    background-image: url("images/background-img.png");
}

header {
    background-image: url('images/background-img.png');
    background-color: grey;
}


header nav {
    background-color: black;
}

header a:active, a:visited {
    color: white;
}

header a:hover {
    color: gold;
}

header p {
    display: inline;
    padding-right: 35px;
}
/*index.html*/
.index-news {
    float: right;
    max-width: 150px;
    border: 1px solid black;
    background-color: white;
}

.index-news h4 {
    background-color: black;
}

.index-news p {
    color: black;
}

.index-news a {
    color: blue;
}

.slides {
    margin-top: -20px;
    margin-bottom: 50px;
}

.slides h1 {
    color: white;
}

.slides img {
    background-color: gray;
}

.index-navigation img{
    width: 400px;
    height: 240px;
    padding-right: 20px;
}

section img {
    margin: auto;
}

#first_img {
    display: block;
}

#second_img, #third_img {
    display: none;
}

.radio_buttons {
    text-align: center;
}

/*Services.html*/

article {
    margin-top: -20px;
    color: white;
}

.offers img {
    width: 440px;
    height: 250px;
    padding-right: 20px;
}
/*about.html*/
.body_content {
    background-image: url("images/background-img.png");
}

.note-div {
    background-color: white;
    margin-bottom: 50px;
}

.note {
    color: red;
}

.ad {
    margin-left: 95px;
}

/*contact.html*/

.contact_body_content {
    float: left;
    overflow: auto;
    width: 50%;
    height: 60%;
}

.contact_body_content * {
    margin-bottom: 20px;
    margin-left: 20px;
}

.contact_body_content input, button, textarea {
    color: black;
}

.contact_body_content .comment  {
    width: 80%;
    display: block;
}

.body_content h2, p {
    color: white;
}

.contact_info {
    border: 2px solid black;
    width: 30%;
    float: right;
    overflow: auto;
}

.main_container {
    background-image: url('images/background-img.png');
}

footer {
    float: left;
    width: 100%;
    overflow: auto;
    margin-bottom: -20px;
    background-image: url('images/background-img.png');
}

footer p {
    color: white;
}
